<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', "/articles/#{article.id}" %></td>
      <!-- here, above we could do 'link_to 'Show', article'
           but somehow, it didn't work. -->
      <td><%= link_to 'Edit', "/articles/#{article.id}/edit" %></td>
      <!-- again, the path, edit_articles_path(article) didn't work. -->
      <td><%= link_to 'Delete', "/articles/#{article.id}",
               method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><b><%= link_to 'Create a new article', "/articles/new" %></b></p>
